@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    padding: 0 100px;
    margin: 50px auto;
    text-align: center;
    clear: both;
    min-height: 405px;
}

#message {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.title span {
    padding: .25em 0 .25em 15px;
    border-left: 6px solid #ffbb00;
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

#item {
    margin-top: 30px;
}

#item img {
    margin-bottom: 5px;
}

#item .singer {
    text-align: left;
}

#item .song {
    color: #444;
    text-align: left;
}

#item .price {
    color: #D24D4D;
    text-align: right;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        padding: 0 15px;
        margin: 20px auto;
        min-height: 660px;
    }
}