@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    padding: 0 100px;
    margin: 50px auto;
    min-height: 405px;
}

#message {
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.title span {
    padding: .25em 0 .25em 15px;
    border-left: 6px solid #ffbb00;
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.price {
    font-weight: bold;
}

.logout-btn {
    text-align: center;
    padding: 10px 0;
}

.logout-btn a {
    font-weight: bold;
    padding: 10px 15px;
}

.withdraw-btn {
    text-align: center;
    padding: 10px 0;
}

.withdraw-btn a {
    font-weight: bold;
    padding: 10px 15px;
}

#scrollTop {
    background-color: #eee;
    bottom: 20px;
    padding: 4px;
    position: fixed;
    right: 20px;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        padding: 0 15px;
        margin: 20px auto;
        min-height: 680px;
    }
}