@charset "UTF-8";

.error {
    text-align: center;
    color: red;
    margin-top: 20px;
    margin-bottom: -20px;
}

.wrapper {
    max-width: 440px;
    margin: 50px auto;
    min-height: 405px;
}

.form-container {
    padding: 10px 0;
    max-width: 380px;
    margin: 0px auto 0 auto;
}

.form-field {
    color: #333333;
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 8px;
    max-width: 380px;
    min-height: 120px;
    max-height: 180px;
}

.form-field:focus {
    background: #fff;
    color: #333333;
}

.form-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000032;
    text-shadow: #ffffff 0 1px 0;
    margin-bottom: 5px;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
}

.submit-button {
    border: 1px solid #ffffff;
    background: #ffbb00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.submit-button:hover {
    opacity: 0.6;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        margin: 20px auto;
        min-height: 680px;
    }
}