@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    max-width: 860px;
    margin: 50px auto;
    min-height: 405px;
}

.complete span {
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.main {
    margin: 20px auto 20px auto;
}

.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
    width: 52%;
    float: right;
}

.progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 26px;
    border: 2px solid #aaa;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 10px;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fd9535;
    font-weight: bold;
}

.progressbar li.active:before {
    background-color: #ffbb00;
    color: #fff;
    border-color: #fd9535;
}

.progressbar li.active+li:after {
    background-color: #ffbb00;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        margin: 20px auto;
        min-height: 680px;
    }
    .progressbar {
        width: 100%;
        padding: 0 10px;
    }
    .progressbar li:before {
        width: 20px;
        height: 20px;
        line-height: 16px;
        margin-right: 3px;
    }
}