@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    max-width: 860px;
    margin: 50px auto;
    min-height: 405px;
}

.main {
    margin-top: 20px;
}

.sub-main {
    margin-top: 20px;
    position: fixed;
}

.title span {
    padding: .25em 0 .25em 15px;
    border-left: 6px solid #ffbb00;
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.item {
    margin: 30px;
    text-align: left;
}

.item .img {
    float: left;
    margin-right: 20px;
    margin-bottom: -10px;
    padding: 5px 5px 0px 5px;
}

.item .singer {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit-btn {
    border: 1px solid #ffbb00;
    background: #ffbb00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 31px;
    font-size: 18px;
    text-decoration: none;
}

.submit-btn:hover {
    opacity: 0.6;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.totalPrice {
    color: #D24D4D;
    margin-left: 3px;
}

.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
    width: 52%;
    float: right;
}

.progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 26px;
    border: 2px solid #aaa;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 10px;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fd9535;
    font-weight: bold;
}

.progressbar li.active:before {
    background-color: #ffbb00;
    color: #fff;
    border-color: #fd9535;
}

.progressbar li.active+li:after {
    background-color: #ffbb00;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        margin: 20px auto;
        min-height: 680px;
    }
    .progressbar {
        width: 100%;
        padding: 0 10px;
    }
    .progressbar li:before {
        width: 20px;
        height: 20px;
        line-height: 16px;
        margin-right: 3px;
    }
    .item .singer {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .price span {
        font-size: 14px;
    }
    .sub-main {
        width: 100%;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .total {
        width: 100%;
    }
    .totalPrice {
        font-size: 18px;
    }
}