@charset "UTF-8";

body, html {
    height: 100%;
}

h2 {
    padding: .25em 0 .25em 0;
    border-left: 6px solid #ffbb00;
    width: 210px;
}

.wrapper {
    max-width: 720px;
    margin: 50px auto;
    min-width: 720px;
    min-height: 405px;
}

}
.service {
    margin-bottom: 10px;
}

.panel {
    padding: 20px;
}

.form-container {
    float: left;
}

.form-field {
    border: 1px solid #646464;
    background: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #333333;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
        rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
        rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset
        rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.form-field:focus {
    background: #fff;
    color: #333333;
}

.form-container h2 {
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.form-header {
    color: #000032;
    text-shadow: #ffffff 0 1px 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-title {
    color: #000032;
    text-shadow: #ffffff 0 1px 0;
    font-weight: bold;
    margin-bottom: 5px;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
}

.submit-button {
    border: 1px solid #ffffff;
    background: #ffbb00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.submit-button:hover {
    opacity: 0.6;
}

.regist {
    float: left;
    padding: 30px 0px 30px 70px;
}

.about-humming {
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.about-humming a {
    color: #0000ff;
}

.regist p {
    font-size: 16px;
    font-weight: bold;
}

.regist-btn {
    position: relative;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535; /*背景色*/
    border-bottom: solid 2px #d27d00; /*少し濃い目の色に*/
    border-radius: 4px; /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
        rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 16px;
}

.regist-btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.regist-btn:hover {
    color: white;
}

footer {
    bottom: 0px;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        margin: 20px auto;
        min-width: 0px;
        min-height: 660px;
    }
    .form-container {
        float: none;
        margin: 0 auto;
    }
    .regist {
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
}