@charset "UTF-8";

.wrapper {
    padding: 0 200px;
    margin: 50px auto;
    min-height: 405px;
}

}
#title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#back {
    text-align: center;
    padding: 10px 0;
}

#back a {
    font-weight: bold;
    padding: 10px 15px;
}

.withdraw {
    text-align: center;
}

.withdraw-btn {
    margin-top: 10px;
    border: 1px solid #ffffff;
    background: #ffbb00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.withdraw-btn:hover {
    opacity: 0.6;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 992px) {
    .wrapper {
        padding: 0px 100px;
    }
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    .wrapper {
        padding: 0 15px;
        margin: 20px auto;
        min-height: 680px;
    }
}