@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    max-width: 820px;
    min-width: 620px;
    margin: 50px auto;
    min-height: 452px;
}

.title span {
    padding: .25em 0 .25em 15px;
    border-left: 6px solid #ffbb00;
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.item {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    max-width: 500px;
    min-width: 400px;
}

.item .img {
    float: left;
    margin-right: 15px;
}

.item .detail {
    float: left;
}

.item .song {
    font-weight: bold;
    font-size: 16px;
}

.item .song a {
    text-decoration: none;
}

.item .description {
    margin-top: 5px;
}

.purchase-box {
    width: 240px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#totalPrice {
    margin-top: 10px;
}

#select {
    cursor: pointer;
}

.cart-btn {
    margin-top: 10px;
    border: 1px solid #ffffff;
    background: #ffbb00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.cart-btn:hover {
    opacity: 0.6;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 768px) {
    footer {
        font-size: 12px;
    }
    .wrapper {
        max-width: 620px;
        min-width: 0px;
        margin: 20px auto;
        min-height: 660px;
    }
    .item {
        float: none;
        margin: 15px auto 0px auto;
        text-align: center;
        min-width: 0px;
    }
    .item .img {
        float: none;
    }
    .item .detail {
        float: none;
        margin: 30px;
    }
    .purchase-box {
        float: none;
        margin: 0px auto;
    }
}