@charset "UTF-8";

body, html {
    height: 100%;
}

.wrapper {
    padding: 0 100px;
    margin: 50px auto;
    text-align: center;
    clear: both;
}

.item {
    clear: both;
    font-size: 12px;
}

.item img {
    margin-bottom: 5px;
}

.item .song {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.item .singer {
    color: #444;
    text-align: left;
}

.item .price {
    font-size: 14px;
    font-weight: bold;
    color: #D24D4D;
    text-align: right;
}

.single-item {
    margin-top: 30px;
}

.new-list, .reserve-list {
    clear: both;
    padding: 30px;
}

.ribbon_box {
    position: relative;
}

.ribbon {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 28px;
    margin: 20px 0 0 -25px;
    width: calc(50% + 10px);
    float: left;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #ffb900;
}

.ribbon:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 10px #dda800;
}

.category {
    text-align: left;
}

#scrollTop {
    background-color: #eee;
    bottom: 20px;
    padding: 4px;
    position: fixed;
    right: 20px;
}

.paging {
    width: 100%;
}

.paging-btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.75em;
    margin: 40px 1px 20px 1px;
    text-decoration: none;
    color: #ffb900;
    background: #ECECEC;
    border: 1px solid #DDDDDD;
    transition: .4s;
}

.paging-btn:hover {
    background: #ffb900;
    border: 1px solid #ffb900;
    color: white;
    text-decoration: none;
}

.active-page {
    background: #ffb900;
    border: 1px solid #ffb900;
    color: white;
    text-decoration: none;
}

footer {
    margin-top: auto;
    border-top: 2px solid lightgray;
    padding: 12px 0 6px 0;
    text-align: center;
    color: #666;
    line-height: 15px;
}

@media ( max-width : 992px) {
    .wrapper {
        padding: 0px 30px;
    }
}

@media ( max-width : 768px) {
    * {
        font-size: 12px;
    }
    li  a {
        font-size: 10px;
    }
    .wrapper {
        padding: 0px;
        margin: 20px auto;
    }
    .category {
        text-align: center;
    }
    .dlv {
        display: none;
    }
    .paging-btn {
        padding: 0.25em 0.50em;
    }
}